{% extends "encyclopedia/layout.html" %}

{% block title %}
    New Page
{% endblock %}

{% block body %}
    <h1>Create a new page</h1>

    <form method="POST">
        {% csrf_token %}
        <div>Title of the text:</div>
        <input class="box" type="text" name="title" placeholder="Type in a title for the page">
        <div>Contents:</div>
        <textarea class="box" name="content" placeholder="Type in the Markdown content for the page"></textarea>
        <input action="{% url 'entry' '__title__' %}" type="submit" value="Save">
    </form>

{% endblock %}