{% extends "encyclopedia/layout.html" %}

{% block title %}
    New Page
{% endblock %}

{% block body %}
    <h1>Create a new page</h1>

    <form method="POST" action="{% url 'new' %}">
        {% csrf_token %}
        <h2>Title of the text:</h2>
        <input type="text" name="title" placeholder="Type in a title for the page">
        <h2>Contents:</h2>
        <textarea name="content" rows="6" cols="15" placeholder="Type in the Markdown content for the page"></textarea>
        <input type="submit" value="Save">
    </form>

{% endblock %}